@model IEnumerable<Core.Entity.Catalog>

<ul>
    @foreach (var catalog in Model)
    {
        <li>
            <a asp-controller="Catalog" asp-action="GetCatalog" asp-route-id="@catalog.Id">@catalog.Name</a>
            @if (catalog.ChildrenCatalogs != null && catalog.ChildrenCatalogs.Any())
            {
                @Html.Partial("_CatalogRecursive", catalog.ChildrenCatalogs)
            }
        </li>
    }
</ul>
